header {
	color: white;
	background-color: #C8742A;
}
.row > .col-xs-8 {
	color: green;
	background-color: #FAE7CA;
}
#random-number {
	background-color: #55C87E;
	font-size: 30px;
	height: 80px;
	color: #736985;
}
#scores {
	background-color: #49FCFE;
	height: 80px;
}
.current-score {
	background-color: #2BA196;
	color: white;
}
.crystal {
	height: 80px;
}
#first-crystal {
	background: yellow;
}
#second-crystal {
	background: grey;
}
#third-crystal {
	background: green;			
}
#fourth-crystal {
	background: purple;
}